<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css"/>
    <script src="lib/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="PhoneListController">
    <ul>
      <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    <p>Total number of phones : {{phones.length}}</p>
    <p>Hello {{name}}</p>
  </body>
  <table>
    <tr>
      <th>Row number</th>
      <th>Result</th>
    </tr>
    <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
      <td>{{i+1}} x 8</td>
      <td>{{(i + 1)*8}}</td>
    </tr>
  </table>
</html>
